#sideNav {
    position: absolute;
    left: -210px;               /* move nav to the left, off screen */
    transition: 0.5s;           /* transition time */
    padding: 15px;
    width: 250px;

    background-color: white;
}

#sideNav:hover{
    left: 0;                    /* hover, make the menu links appear */
}

#sideNav:hover a{
    color: #ABCC57;
    font-family: Verdana;
    font-size: small;
    text-decoration: none;
}

#sideNav a {
    color: white;
    font-size: 16px;
    text-decoration: none;      /* remove the underline from links */
}

#sideNav a:hover {
    color: #8bcc00;
    font-weight: bold;          /* hover, make link bold */
}

#navText {
    font-family: Arial;
    position: absolute;
    transform:rotate(-90deg);   /* rotate navigation name */
    bottom: 80px;
    right: -45px;

    color: #ABCC57;
    font-size: 24px;
}

#sideNav li {
    color: white;               /* make bullet white (invisible in this case) */
    padding-left:1em;
}

#favouritesTitle {
    color: white;
}

#sideNav:hover > #favouritesTitle {
    color: darkgray;            /* hover on sideNav, 'my favourites' will turn darkgray */
}

#favouritesTitle {
    margin: 0px;
    padding: 0px;

    color: white;               /* 'my favourites' is white until sidenav hovered on */
    font-family: "Times New Roman";
    font-style: italic;
}