body {
    font-family: Arial;
}

#sideNav {
    position: absolute;
    left: -110px;
    transition: 0.5s;
    padding: 15px;
    width: 150px;

    background-color: white;
}

#sideNav:hover{
    left: 0; /* On mouse-over, make the elements appear as they should */
}

#sideNav:hover a{
    font-family: Verdana;
    text-decoration: none;
    font-size: small;
    color: #ABCC57;
}

#sideNav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

#navText {
    position: absolute;
    transform:rotate(-90deg);
    bottom: 100px;
    right: -20px;

    color: #ABCC57;
    font-size: 24px;
}

#name {
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);

    color: #ABCC57;
    font-size: 30px;
    text-align: center;
}

#description {
    width: 500px;
    position: absolute;
    top: 49%;
    left: 41%;
    transform: translateX(-50%) translateY(-50%);

    opacity: 0.7;
    color: grey;
    font-family: "Times New Roman";
    font-style: italic;
}

#succulent1 {
    position: absolute;
    top: 48%;
    left: 67%;
    transform: translateX(-50%) translateY(-50%);
}